nav.navegacion  {
  display: flex;
}
button.menuBar{
  display: initial;
  color: var(--color-primary);
  font-size: 1rem;
  padding: 0 1rem;
  cursor: pointer;
}
ul.menu{
  display: none;
}
/* li.itemMenu{
  background: var(--color-senary);
} */
li.itemMenu a{
  display: inline-grid;
  /* background: var(--color-septenary); */
  padding: .33rem 1rem;
}
@media screen and (min-width: 420px) {

}
@media screen and (min-width: 768px) {
  
}
@media screen and (min-width: 1280px) {
  ul.menu{
    display: grid;
    grid-auto-flow: column;
    place-items: center center;
    /* background: var(--color-denary); */
    padding: 0 1rem;
    column-gap: 1rem;
  }
  button.menuBar{
    display: none;
  }
}
