.banner{
  position: fixed;
  top: 0;
  width: 100vmax;
  height: 100vmax;
  background: linear-gradient(rgba(0, 0, 0, 0.472),rgba(0, 0, 0, 0.472)),url("./perros.jpg");
  background-repeat: no-repeat;
  background-position: left -100px top;
  background-size: cover;
  z-index: -1;
}
.title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
@media screen and (min-width: 768px){
  .banner{
    background-position: left top;
  }
}
@media screen and (min-width: 1280px){
  .banner{
    background-position: center top;
  }
}
  
