section.logo{
  /* background: var(--color-quinary); */
  padding: 1rem;
  display: grid;
}
h1.titleWeb{
  font-size: 5vmin;
  color: var(--color-senary);
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  h1.titleWeb{
    font-size: 3vmin;
  }
}