:root {
  --max-width: 1280px;
  --margin-auto: 0 auto;
  --color-primary: rgba(34, 34, 34, 1);
  --color-secondary: rgba(255, 255, 255, 1);
  --color-tertiary: rgb(255, 0, 0);
  --color-quaternary: rgb(34, 255, 0);
  --color-quinary: rgb(0, 64, 255);
  --color-senary: rgb(255, 225, 0);
  --color-septenary: rgb(0, 255, 221);
  --color-octonary: rgb(187, 0, 255);
  --color-nonary: rgb(0, 255, 183);
  --color-denary: rgb(255, 153, 0);
  --color-silver: rgb(175, 175, 175);
  --color-goold: rgba(255, 215, 0, 1);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 0;
}
html,
body {
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  color: var(--color-secondary);
  /* background: var(--color-primary); */
  display: grid;
}

a {
  color: inherit;
  text-decoration: none;
}
ul{
  list-style: none;
}
main.app{
  /* background: #223; */

  position: relative;
  /* overflow: hidden auto; */
}

:is(section.contenedor,article.contenedor,div.contenedor){
  max-width: var(--max-width);
  margin: var(--margin-auto);

}