section.inicio {
  color: var(--color-denary);
}
.zonas {

  background: snow;
  display: grid;
  padding: 60px 0;
  place-content: center;
}
.titleArticulo{
  font-size: 8vmin;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
  color: var(--color-primary)
}
.descripcionArticulo{
  padding: 1rem;
  text-align: center;
  font-size: 6vmin;
  color: var(--color-silver);
}
.contenedor{
  max-width: var(--max-width);
  margin: var(--margin-auto);
  padding: 100px 1rem;
}
.articulo{
  display: grid;
  grid-template-rows: 1fr auto;
  justify-content: center;
  gap: 1rem;
}