header.main{
  background: rgba(0, 0, 0, 0.722);
  position: sticky;
  top: 0;
  z-index: 10;
  display: grid;
}
section.contenedor{
  /* background: rgb(82, 203, 11); */
  display: grid;
  grid-auto-flow: column;
  place-content: center space-between;
}
